*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:antiquewhite;
}

.wrapper{
    width: 90%;
    font-size: 16px;
    max-width: 700px;
    margin: 16px auto;
}

.container{
    width: 100%;
}